includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/

    # Level 5 is a good balance between strictness and developer speed
    level: 5

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#If condition is always true#'
        - '#Instanceof between .* will always evaluate to true#'
        # Ignore common false positives or specific Laravel magic if needed
        # - '#PHPDoc tag @var# '

    excludePaths:
        # - ./*/*/FileToBeExcluded.php
